@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot?8dnmiu");
  src: url("../fonts/icomoon/icomoon.eot?8dnmiu#iefix")
      format("embedded-opentype"),
    url("../fonts/icomoon/icomoon.ttf?8dnmiu") format("truetype"),
    url("../fonts/icomoon/icomoon.woff?8dnmiu") format("woff"),
    url("../fonts/icomoon/icomoon.svg?8dnmiu#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-discord:before {
  content: "\e902";
}
.icon-react1:before {
  content: "\e905";
}
.icon-css3:before {
  content: "\e903";
}
.icon-javascript:before {
  content: "\e904";
}
.icon-envelope-solid:before {
  content: "\e900";
}
.icon-vk-brands:before {
  content: "\e901";
}
.icon-phone:before {
  content: "\e942";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-github:before {
  content: "\eab0";
}
.icon-html-five:before {
  content: "\eae4";
}
.icon-git:before {
  content: "\eae7";
}
@font-face {
  font-family: "Bellota Text";
  src: url(../fonts/Bellota_Text/BellotaText-Bold.ttf);
}
@font-face {
  font-family: "Comfortaa";
  src: url(../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}
@media screen and (max-width: 1600px) and (min-width: 800px) {
  section.my_info .my_info_text h1 {
    font-size: 45px;
  }
  section.my_info .my_info_text {
    padding-left: 100px;
  }
  section.my_info .my_info_text p {
    font-size: 20px;
  }

  header > ul.links li {
    font-size: 25px;
  }

  header > ul.links li::before {
    top: 35px;
  }

  section h2 {
    font-size: 45px;
  }

  section.about_me .about_me_text {
    font-size: 20px;
  }

  section.my_info .my_info_text_wrapper > svg {
    margin-top: -50px;
  }

  .skill_item .progress_fill {
    font-size: 15px;
    padding: 4px;
  }
  .skill_item .progress_fill span {
    font-size: 25px;
  }

  section.portfolio .portfolio_grid .portfolio_item .portfolio_item_hover span {
    font-size: 12px;
  }
  section.portfolio .portfolio_grid .portfolio_item .portfolio_item_hover h2 {
    font-size: 20px;
  }

  section.contacts .contacts_links img {
    width: 30%;
    margin-left: 100px;
  }

  .navbar-wrapper {
    margin-top: 100px;
    width: 25rem;
    height: 25rem;
  }

  .navbar {
    width: 25rem;
    height: 25rem;
  }

  .navbar-btn {
    width: 9rem;
    height: 9rem;
  }

  .navbar-btn span {
    font-size: 2.5rem;
  }

  .navbar-link span {
    font-size: 3rem;
  }

  .navbar-link:nth-child(1) {
    top: 2rem;
  }

  .navbar-link:nth-child(2) {
    top: 8rem;
    right: 3rem;
  }

  .navbar-link:nth-child(3) {
    bottom: 4rem;
    right: 5rem;
  }

  .navbar-link:nth-child(4) {
    bottom: 4rem;
    left: 5rem;
  }

  .navbar-link:nth-child(5) {
    top: 8rem;
    left: 3rem;
  }
}
