* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
main {
  flex: 1 0 auto;
}
footer {
  flex: 0 0 auto;
  background-color: #002a67;
  color: #fff;
}
svg {
  margin-bottom: -10px;
}
header {
  border: 1px solid black;
  padding: 10px 5%;
}

ul.links li {
  display: inline;
  margin-right: 30px;
  padding: 5px;
  font-size: 30px;
  position: relative;
}
ul.links li::before {
  content: "";
  display: block;
  position: absolute;
  top: 40px;
  width: 30px;
  left: 0%;
  border-top: 2px solid #000;
}

section.my_info {
  display: flex;
}

section.my_info .avatar {
  width: 600px;
  height: 500px;
}

section.my_info .my_info_text_wrapper {
  height: 0;
  width: 100%;
  border-top: 500px solid #002a67;
  border-left: 200px solid transparent;
  margin-left: -200px;
}
section.my_info .my_info_text {
  margin-top: -400px;
  color: #fff;
}

section.my_info .my_info_text h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

section.my_info .my_info_text p {
  font-size: 25px;
  margin-bottom: 30px;
}
section.my_info .my_info_text_wrapper .my_info_text ul.my_info_links li i {
  margin-right: 5px;
}

section.my_info .my_info_text_wrapper .my_info_text ul.my_info_links li {
  font-size: 25px;
  margin-bottom: 30px;
  color: #fff;
  list-style-type: none;
}

section.about_me {
  width: 100%;
  margin-bottom: 50px;
}

section.about_me h2 {
  margin: 20px 0 20px 10%;

  color: #002a40;
  font-size: 40px;
}

section.about_me .about_me_text {
  background-color: rgb(157, 174, 192, 0.3);
  padding: 20px;
  border-radius: 30px;
  width: 80%;
  margin: 0 auto;
  font-size: 25px;
  color: #002a40;
  line-height: 40px;
}

section.skills {
  display: flex;
}

section.skills .skills_img {
  width: 30%;
}
section.skills .skills_img img {
  width: 100%;
}

section.skills .skills_info {
  width: 70%;
  padding: 20px 5%;
}

section.skills .skills_info h2 {
  color: #002a40;
  font-size: 40px;
  margin-bottom: 40px;
}

.skills_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.skill_item {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.skill_item .progress_fill,
.skill_item .progress_empty {
  height: 100%;
}

.skill_item .progress_fill {
  background-color: #002a67;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 20px;
}
.skill_item .progress_fill i {
  margin-right: 5px;
  font-size: 30px;
}

.skill_item span {
  margin-right: 5px;
}
section.portfolio {
  padding: 0 10%;
}
section.portfolio h2 {
  margin: 20px 0;

  color: #002a40;
  font-size: 40px;
}
section.portfolio .portfolio_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
}
section.portfolio .portfolio_grid .portfolio_item {
  position: relative;
}

section.portfolio .portfolio_grid .portfolio_item img {
  width: 100%;
}
section.portfolio .portfolio_grid .portfolio_item .portfolio_item_hover {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  background-color: rgb(39, 102, 133, 0.5);
  transition: opacity 0.5s;
}
section.portfolio .portfolio_grid .portfolio_item .portfolio_item_hover::before,
section.portfolio .portfolio_grid .portfolio_item .portfolio_item_hover::after {
  content: "";
  position: absolute;
  transition: 0.4s;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-right: transparent;
  border-bottom: transparent;
}
section.portfolio
  .portfolio_grid
  .portfolio_item
  .portfolio_item_hover::before {
  top: 0;
  left: 0;
  margin-top: -10px;
  margin-left: -10px;
}

section.portfolio .portfolio_grid .portfolio_item .portfolio_item_hover::after {
  bottom: 0;
  right: 0;
  margin-bottom: -10px;
  margin-right: -10px;
  transform: rotate(180deg);
}
section.portfolio .portfolio_grid .portfolio_item .portfolio_item_hover:hover {
  opacity: 0;
}

section.portfolio
  .portfolio_grid
  .portfolio_item
  .portfolio_item_hover:hover::before,
section.portfolio
  .portfolio_grid
  .portfolio_item
  .portfolio_item_hover:hover::after {
  width: 100%;
  height: 100%;
}

section.contacts {
  padding: 20px 10%;
}
section.contacts h2 {
  margin: 20px 0 20px 0;

  color: #002a40;
  font-size: 40px;
}
.navbar-wrapper {
  width: 20rem;
  height: 20rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 20rem;
  height: 20rem;
  background-color: #6a7fdb;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: scale(0) rotate(-180deg);
  transition: transform 0.5s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.change .navbar {
  transform: scale(1) rotate(0);
}

.navbar-link {
  position: absolute;
}

.navbar-link i {
  font-size: 3rem;
  color: #fff;
  transition: color 0.3s;
}

.navbar-link:hover i {
  color: #222;
}

.navbar-link:nth-child(1) {
  top: 2rem;
}

.navbar-link:nth-child(2) {
  top: 5rem;
  right: 2rem;
}

.navbar-link:nth-child(3) {
  bottom: 5rem;
  right: 2rem;
}

.navbar-link:nth-child(4) {
  bottom: 2rem;
}

.navbar-link:nth-child(5) {
  bottom: 5rem;
  left: 2rem;
}

.navbar-link:nth-child(6) {
  top: 5rem;
  left: 2rem;
}

.navbar-btn {
  position: absolute;
  width: 6rem;
  height: 6rem;
  background-color: #ff6b6b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.navbar-btn i {
  font-size: 2rem;
  color: #fff;
  transition: color 0.5s;
}

.change .navbar-btn i {
  transform: rotate(45deg);
  transition: transform 0.5s;
}
