* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
.adaptate_nav_wrapper {
  width: 0;
  overflow: hidden;
  visibility: hidden;
  height: 0;
}
main {
  flex: 1 0 auto;
  position: relative;
  z-index: 0;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10% 10px 10%;
  font-size: 25px;
  flex: 0 0 auto;
  background-color: #002a67;
  color: #fff;
  font-family: "Bellota Text", cursive;
}

main > svg {
  margin-bottom: -10px;
}

header {
  position: relative;
  z-index: 2;
  padding: 10px 10%;
  box-shadow: 0 12px 5px rgba(0, 64, 42, 0.3);
}
header > span {
  display: none;
}

header > ul.links li {
  display: inline;
  margin-right: 30px;
  padding: 5px;
  font-size: 30px;
  position: relative;
}

header > ul.links li a {
  color: #002a40;
  font-family: "Comfortaa", cursive;
}

header > ul.links li::before,
.adaptate_nav > ul.links li::before {
  content: "";
  display: block;
  position: absolute;
  top: 40px;
  width: 30px;
  left: 0%;
  border-top: 2px solid #002a40;
  transition: width 0.4s;
}

ul.links li:hover::before {
  width: 100%;
}

section h2 {
  margin: 40px 0 20px 0;
  font-family: "Comfortaa", cursive;
  color: #002a40;
  font-size: 50px;
}

section.my_info {
  display: flex;
}

section.my_info .avatar {
  width: 600px;
  height: 500px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

section.my_info .my_info_text_wrapper {
  width: 100%;
  position: relative;
  height: 500px;
}

section.my_info .my_info_text_wrapper::before {
  content: "";
  display: block;
  position: absolute;
  right: 100%;
  width: 0;
  height: 0;
  border-bottom: 100px solid transparent;
  border-top: 500px solid #002a67;
  border-left: 200px solid transparent;
}

section.my_info .my_info_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 200px;
  color: #fff;
  font-family: "Bellota Text", cursive;
  font-size: 20px;
  background-color: #002a67;
  height: 100%;
}

section.my_info .my_info_text_wrapper > svg {
  margin-top: -27px;
}

section.my_info .my_info_text h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

section.my_info .my_info_text p {
  font-size: 25px;
  margin-bottom: 30px;
}
section.my_info .my_info_text_wrapper .my_info_text ul.my_info_links li span {
  margin-right: 5px;
}

section.my_info .my_info_text_wrapper .my_info_text ul.my_info_links li {
  font-size: 25px;
  margin-bottom: 30px;
  color: #fff;
  list-style-type: none;
}

section.my_info .my_info_text h1,
section.my_info .my_info_text p,
section.my_info .my_info_text_wrapper .my_info_text ul.my_info_links li,
section.about_me .about_me_text {
  transform: translate(0px, 120px);
  opacity: 0;
  transition: transform 0.8s ease 0s, opacity 0.8s ease 0s;
}

section.my_info .my_info_text h1.active,
section.my_info .my_info_text p.active,
section.about_me .about_me_text.active {
  transform: translate(0px, 0px);
  opacity: 1;
}

section.my_info .my_info_text_wrapper .my_info_text ul.my_info_links li.active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: transform 0.8s ease 0.4s, opacity 0.8s ease 0.4s;
}

section.about_me {
  margin-top: 70px;
  width: 100%;
  padding: 0 10%;
  margin-top: 200px;
}

section.about_me .about_me_text {
  background-color: rgb(198, 205, 212);
  padding: 20px;
  border-radius: 30px;

  font-size: 25px;
  font-family: "Bellota Text", cursive;
  color: #002a40;
  line-height: 40px;
  position: relative;
}
section.about_me .about_me_text::before {
  content: "";
  position: absolute;
  left: 20px;
  bottom: 99%;

  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid rgb(198, 205, 212);
  border-right: 30px solid transparent;
}

section.skills .skills_info {
  margin: 0 auto;
  padding: 0 10%;
}

.skills_grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.skill_item {
  box-shadow: 2px 2px 2px 1px rgba(0, 42, 64, 0.2);
  display: flex;
  background-color: rgb(39, 102, 133, 0.3);
  color: #002a40;
  align-items: center;
  justify-content: space-between;
  font-family: "Bellota Text", cursive;
  font-size: 20px;
  transform: translate(-1000px, 0px);
  opacity: 0;
  transition: transform 0.8s ease 0s, opacity 0.8s ease 0s;
}

.skill_item.active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.skill_item .progress_fill,
.skill_item .progress_empty {
  height: 100%;
}
.skill_item .progress_fill {
  width: 15%;
  transition: width 2s;
}

.skill_item:nth-child(1) .progress_fill.active {
  width: 90%;
}

.skill_item:nth-child(2) .progress_fill.active {
  width: 80%;
}

.skill_item:nth-child(3) .progress_fill.active {
  width: 60%;
}

.skill_item:nth-child(4) .progress_fill.active {
  width: 40%;
}

.skill_item:nth-child(5) .progress_fill.active {
  width: 60%;
}

.skill_item:nth-child(6) .progress_fill.active {
  width: 70%;
}

.skill_item .progress_fill {
  background-color: #002a67;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 20px;
  padding: 5px;
}
.skill_item .progress_fill span {
  margin-right: 5px;
  font-size: 30px;
  color: #fff;
}

.skill_item span {
  margin-right: 5px;
}
section.portfolio {
  padding: 0 10%;
}

section.portfolio .portfolio_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
}
section.portfolio .portfolio_grid .portfolio_item {
  position: relative;
  box-shadow: 2px 2px 2px 1px rgba(0, 42, 64, 0.2);
  transform: scale(0);
  transition: transform 0.8s ease 0s;
}

section.portfolio .portfolio_grid .portfolio_item.active {
  transform: scale(1);
}

section.portfolio .portfolio_grid .portfolio_item img {
  width: 100%;
}
section.portfolio .portfolio_grid .portfolio_item .portfolio_item_hover {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  background-color: rgb(39, 102, 133, 0.5);
  transition: opacity 0.5s;
}
section.portfolio .portfolio_grid .portfolio_item .portfolio_item_hover::before,
section.portfolio .portfolio_grid .portfolio_item .portfolio_item_hover::after {
  content: "";
  position: absolute;
  transition: 0.4s;
  width: 20px;
  height: 20px;
  border: 2px solid #002a40;
  border-right: transparent;
  border-bottom: transparent;
}
section.portfolio
  .portfolio_grid
  .portfolio_item
  .portfolio_item_hover::before {
  top: 0;
  left: 0;
  margin-top: -10px;
  margin-left: -10px;
}

section.portfolio .portfolio_grid .portfolio_item .portfolio_item_hover::after {
  bottom: 0;
  right: 0;
  margin-bottom: -10px;
  margin-right: -10px;
  transform: rotate(180deg);
}
section.portfolio .portfolio_grid .portfolio_item .portfolio_item_hover:hover {
  opacity: 0;
}

section.portfolio
  .portfolio_grid
  .portfolio_item
  .portfolio_item_hover:hover::before,
section.portfolio
  .portfolio_grid
  .portfolio_item
  .portfolio_item_hover:hover::after {
  width: 100%;
  height: 100%;
}

section.portfolio .portfolio_grid .portfolio_item .portfolio_item_hover span {
  font-family: "Bellota Text", cursive;
  font-size: 20px;
  color: #fff;
}
section.portfolio .portfolio_grid .portfolio_item .portfolio_item_hover h2 {
  font-family: "Comfortaa", cursive;
  font-size: 35px;
  color: #fff;
}

section.contacts {
  padding: 0 10%;
}

section.contacts .contacts_links {
  display: flex;
  align-items: center;
}

section.contacts .contacts_links img {
  width: 40%;
  margin-left: 150px;
  transform: rotate(180deg);
  opacity: 0;
  transition: transform 0.8s ease 0s, opacity 0.8s ease 0s;
}

section.contacts .contacts_links img.active {
  opacity: 1;
  transform: rotate(0);
}

.navbar-wrapper {
  transform: translate(-500px, 0);
  opacity: 0;
  transition: transform 0.8s ease 0s, opacity 0.8s ease 0s;
  margin-left: 100px;
  margin-top: 150px;
  width: 30rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-wrapper.active {
  transform: translate(0, 0);
  opacity: 1;
}

.navbar {
  width: 30rem;
  height: 30rem;
  background-color: #9daec0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: scale(0) rotate(-180deg);
  transition: transform 0.5s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.change .navbar {
  transform: scale(1) rotate(0);
}

.navbar-link {
  position: absolute;
}

.navbar-link span {
  font-size: 5rem;
  color: #fff;
  transition: color 0.3s;
}

.navbar-link:hover span {
  color: #222;
}

.navbar-link:nth-child(1) {
  top: 2rem;
}

.navbar-link:nth-child(2) {
  top: 9rem;
  right: 3rem;
}

.navbar-link:nth-child(3) {
  bottom: 5rem;
  right: 6rem;
}

.navbar-link:nth-child(4) {
  bottom: 5rem;
  left: 6rem;
}

.navbar-link:nth-child(5) {
  top: 9rem;
  left: 3rem;
}

.navbar-btn {
  position: absolute;
  width: 10rem;
  height: 10rem;
  background-color: #276685;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.navbar-btn span {
  font-size: 3rem;
  color: #fff;
  transition: color 0.5s;
}

.change .navbar-btn span {
  transform: rotate(45deg);
  transition: transform 0.5s;
}

@media screen and (max-width: 1850px) and (min-width: 1550px) {
  section.portfolio .portfolio_grid .portfolio_item .portfolio_item_hover span {
    font-size: 15px;
  }
  section.portfolio .portfolio_grid .portfolio_item .portfolio_item_hover h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 1600px) and (min-width: 1250px) {
  section.my_info .my_info_text h1 {
    font-size: 45px;
  }
  section.my_info .my_info_text {
    padding-left: 100px;
  }
  section.my_info .my_info_text p {
    font-size: 20px;
  }

  header > ul.links li {
    font-size: 25px;
  }

  header > ul.links li::before {
    top: 35px;
  }

  section h2 {
    font-size: 45px;
  }

  section.about_me {
    margin-top: 100px;
  }

  section.about_me .about_me_text {
    font-size: 20px;
  }

  section.my_info .my_info_text_wrapper > svg {
    margin-top: -20px;
  }

  .skill_item .progress_fill {
    font-size: 15px;
    padding: 4px;
  }
  .skill_item .progress_fill span {
    font-size: 25px;
  }

  section.portfolio .portfolio_grid .portfolio_item .portfolio_item_hover span {
    font-size: 12px;
  }
  section.portfolio .portfolio_grid .portfolio_item .portfolio_item_hover h2 {
    font-size: 20px;
  }

  section.contacts .contacts_links img {
    width: 30%;
    margin-left: 100px;
  }

  .navbar-wrapper {
    margin-top: 100px;
    width: 25rem;
    height: 25rem;
  }

  .navbar {
    width: 25rem;
    height: 25rem;
  }

  .navbar-btn {
    width: 9rem;
    height: 9rem;
  }

  .navbar-btn span {
    font-size: 2.5rem;
  }

  .navbar-link span {
    font-size: 3rem;
  }

  .navbar-link:nth-child(1) {
    top: 2rem;
  }

  .navbar-link:nth-child(2) {
    top: 8rem;
    right: 3rem;
  }

  .navbar-link:nth-child(3) {
    bottom: 4rem;
    right: 5rem;
  }

  .navbar-link:nth-child(4) {
    bottom: 4rem;
    left: 5rem;
  }

  .navbar-link:nth-child(5) {
    top: 8rem;
    left: 3rem;
  }
}

@media screen and (max-width: 1250px) and (min-width: 800px) {
  header > ul.links li {
    font-size: 20px;
  }

  header > ul.links li::before {
    top: 30px;
  }
  section.my_info .my_info_text_wrapper > svg {
    margin-top: -20px;
  }

  section.my_info .avatar {
    width: 400px;
    height: 330px;
  }

  section.my_info .my_info_text_wrapper {
    height: 330px;
  }

  section.my_info .avatar img {
    width: 400px;
    height: 330px;
  }

  section.my_info .my_info_text_wrapper::before {
    border-top: 330px solid #002a67;
  }

  section.my_info .my_info_text {
    margin-left: 0;
    padding-left: 50px;
  }

  section.my_info .my_info_text h1 {
    font-size: 30px;
    margin-bottom: 7px;
  }

  section.my_info .my_info_text p {
    margin-bottom: 10px;
  }

  section.my_info .my_info_text_wrapper .my_info_text ul.my_info_links li {
    font-size: 15px;
    margin-bottom: 25px;
  }

  section h2 {
    font-size: 40px;
  }

  section.about_me {
    margin-top: 50px;
  }

  section.about_me h2 {
    margin-top: 0;
    margin-bottom: 30px;
  }

  section.about_me .about_me_text {
    font-size: 15px;
    line-height: 30px;
  }

  .skill_item .progress_fill {
    font-size: 12px;
  }
  .skill_item > span {
    font-size: 15px;
  }

  .skill_item .progress_fill span {
    font-size: 20px;
  }

  section.portfolio .portfolio_grid .portfolio_item .portfolio_item_hover span {
    font-size: 10px;
  }
  section.portfolio .portfolio_grid .portfolio_item .portfolio_item_hover h2 {
    font-size: 15px;
  }

  .navbar-wrapper {
    margin-left: 0;
    width: 22rem;
    height: 22rem;
  }

  .navbar {
    width: 22rem;
    height: 22rem;
  }

  .navbar-btn {
    width: 8rem;
    height: 8rem;
  }

  .navbar-btn span {
    font-size: 2.5rem;
  }

  .navbar-link span {
    font-size: 3rem;
  }

  .navbar-link:nth-child(1) {
    top: 2rem;
  }

  .navbar-link:nth-child(2) {
    top: 7rem;
    right: 2.5rem;
  }

  .navbar-link:nth-child(3) {
    bottom: 3rem;
    right: 5rem;
  }

  .navbar-link:nth-child(4) {
    bottom: 3rem;
    left: 5rem;
  }

  .navbar-link:nth-child(5) {
    top: 7rem;
    left: 2.5rem;
  }
}

@media screen and (max-width: 1000px) and (min-width: 800px) {
  header > ul.links li {
    font-size: 15px;
  }

  header > ul.links li::before {
    top: 25px;
    width: 20px;
    border-top: 1px solid #002a40;
  }

  section.my_info .avatar {
    width: 300px;
    height: 250px;
  }

  section.my_info .avatar img {
    width: 300px;
    height: 250px;
  }

  section.my_info .my_info_text_wrapper {
    height: 250px;
  }

  section.my_info .my_info_text_wrapper::before {
    border-top: 250px solid #002a67;
    border-left: 100px solid transparent;
  }

  section.my_info .my_info_text {
    padding-left: 50px;
  }

  section.my_info .my_info_text h1 {
    font-size: 25px;
    margin-bottom: 5px;
  }

  section.my_info .my_info_text p {
    font-size: 20px;
    margin-bottom: 10px;
  }

  section.my_info .my_info_text_wrapper .my_info_text ul.my_info_links li {
    font-size: 13px;
    margin-bottom: 9px;
  }

  section.my_info .my_info_text_wrapper > svg {
    margin-top: -15px;
  }

  section h2 {
    font-size: 40px;
  }

  section.about_me h2 {
    margin-top: 0;
    margin-bottom: 30px;
  }

  section.about_me .about_me_text {
    font-size: 15px;
    line-height: 30px;
  }

  .skill_item .progress_fill {
    font-size: 12px;
    padding: 4px;
  }
  .skill_item > span {
    font-size: 15px;
  }

  .skill_item .progress_fill span {
    font-size: 20px;
  }

  section.portfolio .portfolio_grid .portfolio_item .portfolio_item_hover span {
    font-size: 7px;
  }
  section.portfolio .portfolio_grid .portfolio_item .portfolio_item_hover h2 {
    font-size: 12px;
  }

  section.contacts .contacts_links img {
    width: 30%;
    margin-left: 100px;
    display: block;
    margin: 0 auto;
  }

  .navbar-wrapper {
    margin-left: 0;
    margin-top: 100px;
    width: 18rem;
    height: 18rem;
  }

  .navbar {
    width: 18rem;
    height: 18rem;
  }

  .navbar-btn {
    width: 6rem;
    height: 6rem;
  }

  .navbar-btn span {
    font-size: 2.5rem;
  }

  .navbar-link span {
    font-size: 2rem;
  }

  .navbar-link:nth-child(1) {
    top: 2rem;
  }

  .navbar-link:nth-child(2) {
    top: 6rem;
    right: 2.5rem;
  }

  .navbar-link:nth-child(3) {
    bottom: 3rem;
    right: 4rem;
  }

  .navbar-link:nth-child(4) {
    bottom: 3rem;
    left: 4rem;
  }

  .navbar-link:nth-child(5) {
    top: 6rem;
    left: 2.5rem;
  }

  footer {
    font-size: 15px;
  }
  main > svg {
    margin-bottom: -5px;
  }
}

@media screen and (max-width: 800px) and (min-width: 320px) {
  section.my_info {
    display: block;
    margin-bottom: 0;
  }

  section.my_info .avatar {
    width: 100%;
    height: 100%;
  }

  section.my_info .avatar img {
    width: 100%;
  }

  section.my_info .my_info_text_wrapper {
    height: 100%;
  }

  section.my_info .my_info_text_wrapper::before {
    bottom: 100%;
    right: 0;
    border-bottom: 400px solid #002a67;
    border-left: 150px solid transparent;
  }

  section.my_info .my_info_text {
    padding: 20px 0 0 50px;
    display: block;
    height: 100%;
    margin-top: -10px;
  }

  section.my_info .my_info_text h1 {
    font-size: 25px;
    margin-bottom: 5px;
  }

  section.my_info .my_info_text p {
    font-size: 20px;
    margin-bottom: 10px;
  }

  section.my_info .my_info_text_wrapper .my_info_text ul.my_info_links li {
    font-size: 13px;
    margin-bottom: 9px;
  }

  section.my_info .my_info_text_wrapper > svg {
    margin-top: -10px;
  }
  ul.links li {
    font-size: 20px;
  }

  ul.links li::before {
    top: 30px;
  }

  section h2 {
    font-size: 35px;
  }

  section.about_me {
    margin: 0;
  }

  section.about_me h2 {
    margin-bottom: 30px;
    margin-top: 0;
  }

  section.about_me .about_me_text {
    font-size: 12px;
    line-height: 25px;
  }

  .skills_grid {
    grid-template-columns: 1fr;
  }

  .skill_item .progress_fill {
    font-size: 12px;
    padding: 4px;
  }
  .skill_item > span {
    font-size: 15px;
  }

  .skill_item .progress_fill span {
    font-size: 20px;
  }

  section.portfolio .portfolio_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 100px;
  }

  section.portfolio .portfolio_grid .portfolio_item .portfolio_item_hover span {
    font-size: 10px;
  }
  section.portfolio .portfolio_grid .portfolio_item .portfolio_item_hover h2 {
    font-size: 18px;
  }

  section.contacts .contacts_links {
    display: block;
  }

  section.contacts .contacts_links img {
    width: 30%;
  }

  section.contacts .contacts_links img.active {
    transform: rotate(70deg);
  }

  .navbar-wrapper {
    margin: 0 auto;
    width: 18rem;
    height: 18rem;
  }

  .navbar {
    width: 18rem;
    height: 18rem;
  }

  .navbar-btn {
    width: 6rem;
    height: 6rem;
  }

  .navbar-btn span {
    font-size: 2.5rem;
  }

  .navbar-link span {
    font-size: 2rem;
  }

  .navbar-link:nth-child(1) {
    top: 2rem;
  }

  .navbar-link:nth-child(2) {
    top: 6rem;
    right: 2.5rem;
  }

  .navbar-link:nth-child(3) {
    bottom: 3rem;
    right: 4rem;
  }

  .navbar-link:nth-child(4) {
    bottom: 3rem;
    left: 4rem;
  }

  .navbar-link:nth-child(5) {
    top: 6rem;
    left: 2.5rem;
  }

  footer {
    font-size: 13px;
  }
  main > svg {
    margin-bottom: -5px;
  }
}
@media screen and (max-width: 500px) and (min-width: 320px) {
  section.my_info .my_info_text_wrapper::before {
    border-bottom: 200px solid #002a67;
    border-left: 100px solid transparent;
  }

  section.my_info .my_info_text h1 {
    font-size: 20px;
  }

  section.my_info .my_info_text p {
    font-size: 15px;
  }

  section h2 {
    font-size: 30px;
  }

  section.about_me .about_me_text {
    font-size: 10px;
    line-height: 20px;
  }

  section.portfolio .portfolio_grid {
    grid-gap: 30px;
  }

  section.portfolio .portfolio_grid .portfolio_item .portfolio_item_hover span {
    font-size: 5px;
  }
  section.portfolio .portfolio_grid .portfolio_item .portfolio_item_hover h2 {
    font-size: 10px;
  }

  section.contacts .contacts_links img {
    display: block;
    margin: 0 auto;
  }

  .navbar-wrapper {
    width: 13rem;
    height: 13rem;
  }

  .navbar {
    width: 13rem;
    height: 13rem;
  }

  .navbar-btn {
    width: 4rem;
    height: 4rem;
  }

  .navbar-btn span {
    font-size: 1.5rem;
  }

  .navbar-link span {
    font-size: 1.5rem;
  }

  .navbar-link:nth-child(1) {
    top: 1.5rem;
  }

  .navbar-link:nth-child(2) {
    top: 4.5rem;
    right: 1.5rem;
  }

  .navbar-link:nth-child(3) {
    bottom: 2rem;
    right: 3rem;
  }

  .navbar-link:nth-child(4) {
    bottom: 2rem;
    left: 3rem;
  }

  .navbar-link:nth-child(5) {
    top: 4.5rem;
    left: 1.5rem;
  }
  footer {
    font-size: 10px;
  }
}

@media screen and (max-width: 800px) and (min-width: 320px) {
  header > ul {
    display: none;
  }
  header > span {
    display: block;
    cursor: pointer;
    font-size: 30px;
    color: #002a40;
  }
  header {
    padding: 5px 50px;
  }

  .adaptate_nav_wrapper {
    z-index: 10;
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    visibility: visible;
  }

  .adaptate_nav {
    width: 0%;
    transition: width 0.4s;
    display: flex;
    padding-top: 30px;
    justify-content: center;
    height: 100%;
    background-color: #002a40;
    opacity: 1;
  }

  .adaptate_nav > ul.links li {
    padding: 5px;
    font-size: 25px;
    position: relative;
    margin-bottom: 15px;
    list-style-type: none;
    transform: translate(-200px, 0);
    opacity: 0;
  }

  .adaptate_nav > ul.links li.active:nth-child(1) {
    transition: transform 1s ease 0.5s, opacity 1s ease 0.5s;
  }

  .adaptate_nav > ul.links li.active:nth-child(2) {
    transition: transform 1s ease 0.7s, opacity 1s ease 0.7s;
  }

  .adaptate_nav > ul.links li.active:nth-child(3) {
    transition: transform 1s ease 0.9s, opacity 1s ease 0.9s;
  }

  .adaptate_nav > ul.links li.active {
    transform: translate(0, 0);
    opacity: 1;
  }

  .adaptate_nav > ul.links li a {
    color: #fff;
    font-family: "Comfortaa", cursive;
  }

  .adaptate_nav > ul.links li::before {
    border-top: 2px solid #fff;
  }
  .adaptate_nav > ul.links li:hover::before {
    width: 100%;
  }
}
@media screen and (max-width: 550px) and (min-width: 320px) {
  .adaptate_nav > ul.links li {
    font-size: 12px;
  }

  .adaptate_nav > ul.links li::before {
    top: 20px;
    width: 20px;
  }
}
